h1{
	text-align: center;
	}
strong{
	color:blue;
	}
@font-face {
    font-family: 'tangobold';
    src: url('fuentes/tango-bold-webfont.eot');
    src: url('fuentes/tango-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fuentes/tango-bold-webfont.woff2') format('woff2'),
         url('fuentes/tango-bold-webfont.woff') format('woff'),
         url('fuentes/tango-bold-webfont.ttf') format('truetype'),
         url('fuentes/tango-bold-webfont.svg#tangobold') format('svg');
    font-weight: normal;
    font-style: normal;

}


.columnas{
	display: inline-block;
	width: 49%;
}

div{
	text-align: center;
	}   



.sorteo{
	width: 1000px;
	margin:0 auto;
	}
.img{display: inline-block;
text-align: center;
}


h2{
	text-align: left;
	padding: 1em;
	}


header ul{
	display: inline-block;
	margin: 0;
	/*max-width: 350px;*/
}

#ve{
	/*width: 200px;*/
	
	margin-left: 740px;
	margin-top: -40px;
}


#ve #formulario a{background-position: -336px 0;}

#ve #formulario a:hover{background-position: -336px  -341px;}


#ves{
	/*
	width: 193px;
	margin: 95px;
	margin-top: 60px;
	*/
}

figure {
  
    display: flex;
	flex-wrap: wrap;
    padding: 15px;
    
 text-align: left;
    box-sizing: border-box;
}
figure picture {
    width: 50%;
    display: block;
}
figcaption {
	background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    text-align: center;
    box-sizing: border-box;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.restaurantes figcaption {
    width: 100%;
}
#ve{
	/*width: 200px;*/
	margin: 0px;
	margin-top: 3em;
}
.resto{
	background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 15px;
    text-align: center
}



footer{
	text-align: left;
	padding: 20px;
}

